<head th:fragment="head(title)">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title} + ' | School Management System'">
        School Management System
    </title>

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
          rel="stylesheet">

    <!-- Custom CSS -->

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Favicon (Dynamic Later) -->

    <link rel="icon" th:href="@{/images/favicon.ico}">

</head>